Flask
Flask-SQLAlchemy
Flask-Login
Authlib
python-dotenv
gunicorn
numpy
psycopg-binary
psycopg2-binary
psycopg-pool
langchain
langchain-openai
langchain-groq
langchain-community
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
duckduckgo-search>=6.0.0